{% extends "layout.html" %}
{% block content %}

<!--<h1>PDF Example with iframe</h1>-->
    <iframe src="{{url_for('static', filename='Melo_Jesse_Resume.pdf') }}" width="100%" height="500px">
    </iframe>

      <!-- *****************  CONTACT INFO / SOCIAL MEDIA  ***************** -->
      <footer>
        <div class="content-wrap">
          <h2>Let's Keep in Touch!</h2>
          
          <ul class="content-list">
            <li><a href="https://github.com/cjesseantonio" target="https://github.com/cjesseantonio">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/jessedemelo/" target="https://www.linkedin.com/in/jessedemelo/">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/jessecarvalhomelo/" target="https://www.facebook.com/jessecarvalhomelo/">Facebook</a></li>
          </ul>
        </div>  
      </footer>
{% endblock content %}